<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcPT.dao.EventMapper">
    <resultMap id="EventResultMap" type="com.xzlcPT.bean.Event">
        <id column="event_id" jdbcType="BIGINT" property="eventId" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="event_place" jdbcType="VARCHAR" property="eventPlace" />
        <result column="event_by" jdbcType="VARCHAR" property="eventBy" />
        <result column="event_writer" jdbcType="VARCHAR" property="eventWriter" />
        <result column="event_title" jdbcType="VARCHAR" property="eventTitle" />
        <result column="event_article" jdbcType="VARCHAR" property="eventArticle" />
        <result column="event_type" jdbcType="VARCHAR" property="eventType" />
        <result column="delete_date" jdbcType="DATE" property="deleteDate" />
        <result column="filed1" jdbcType="VARCHAR" property="filed1" />
        <result column="filed2" jdbcType="VARCHAR" property="filed2" />
        <result column="filed3" jdbcType="VARCHAR" property="filed3" />
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
        <collection property="eventImage" ofType="com.xzlcPT.bean.Image">
            <id column="image_id" jdbcType="BIGINT" property="imageId"/>
            <result column="image_type" jdbcType="VARCHAR" property="imageType" />
            <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        </collection>
    </resultMap>
    <sql id="Event_Column_List">
        event_id,start_time,end_time,event_place,event_by,event_writer,event_title,event_article,event_type,event_image,delete_date,filed1,filed2,filed3,delete_flag
    </sql>
    <insert id="insertSelective" parameterType="com.xzlcPT.bean.Event">
        INSERT INTO xz_event
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eventId != null">event_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="eventPlace != null">event_place,</if>
            <if test="eventBy != null">event_by,</if>
            <if test="eventWriter != null">event_writer,</if>
            <if test="eventTitle != null">event_title,</if>
            <if test="eventArticle != null">event_article,</if>
            <if test="eventType != null">event_type,</if>
            <if test="deleteDate != null">delete_date,</if>
            <if test="filed1 != null">filed1,</if>
            <if test="filed2 != null">filed2,</if>
            <if test="filed3 != null">filed3,</if>
            <if test="deleteFlag != null">delete_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eventId != null">#{eventId,jdbcType=BIGINT},</if>
            <if test="startTime != null">#{startTime,jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">#{endTime,jdbcType=TIMESTAMP},</if>
            <if test="eventPlace != null">#{eventPlace,jdbcType=VARCHAR},</if>
            <if test="eventBy != null">#{eventBy,jdbcType=VARCHAR},</if>
            <if test="eventWriter != null">#{eventWriter,jdbcType=VARCHAR},</if>
            <if test="eventTitle != null">#{eventTitle,jdbcType=VARCHAR},</if>
            <if test="eventArticle != null">#{eventArticle,jdbcType=VARCHAR},</if>
            <if test="eventType != null">#{eventType,jdbcType=VARCHAR},</if>
            <if test="deleteDate != null">#{deleteDate,jdbcType=DATE},</if>
            <if test="filed1 != null">#{filed1,jdbcType=VARCHAR},</if>
            <if test="filed2 != null">#{filed2,jdbcType=VARCHAR},</if>
            <if test="filed3 != null">#{filed3,jdbcType=VARCHAR},</if>
            <if test="deleteFlag != null">0</if>
        </trim>
    </insert>
    <insert id="insert" parameterType="com.xzlcPT.bean.Event">
        INSERT INTO xz_event (event_id,start_time,end_time,event_place,event_by,event_writer,event_title,event_article,event_type,delete_date,filed1,filed2,filed3,delete_flag)
        VALUES (
        #{eventId,jdbcType=BIGINT},#{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},#{eventPlace,jdbcType=VARCHAR},
        #{eventBy,jdbcType=VARCHAR},#{eventWriter,jdbcType=VARCHAR},#{eventTitle,jdbcType=VARCHAR},#{eventArticle,jdbcType=VARCHAR},
        #{eventType,jdbcType=VARCHAR},#{deleteDate,jdbcType=DATE},#{filed1,jdbcType=VARCHAR},#{filed2,jdbcType=VARCHAR},
        #{filed3,jdbcType=VARCHAR},0
        )
    </insert>
    <!--删除标记-->
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        UPDATE xz_event
        SET delete_flag = 1
        WHERE delete_flag = 0 AND event_id = #{eventId,jdbcType=BIGINT}
    </update>
    <!--判断删除标记！！！-->
    <update id="updateByPrimaryKeySelective" parameterType="com.xzlcPT.bean.Event">
        UPDATE xz_event
        <set>
            <if test="startTime != null">start_time = #{startTime,jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">end_time = #{endTime,jdbcType=TIMESTAMP},</if>
            <if test="eventPlace != null">event_place = #{eventPlace,jdbcType=VARCHAR},</if>
            <if test="eventBy != null">event_by = #{eventBy,jdbcType=VARCHAR},</if>
            <if test="eventWriter != null">event_writer = #{eventWriter,jdbcType=VARCHAR},</if>
            <if test="eventTitle != null">event_title = #{eventTitle,jdbcType=VARCHAR},</if>
            <if test="eventArticle != null">event_article = #{eventArticle,jdbcType=VARCHAR},</if>
            <if test="eventType != null">event_type = #{eventType,jdbcType=VARCHAR},</if>
            <if test="deleteDate != null">delete_date = #{deleteDate,jdbcType=DATE},</if>
            <if test="filed1 != null">filed1 = #{filed1,jdbcType=VARCHAR},</if>
            <if test="filed2 != null">filed2 = #{filed2,jdbcType=VARCHAR},</if>
            <if test="filed3 != null">filed3 = #{filed3,jdbcType=VARCHAR},</if>
        </set>
        WHERE delete_flag = 0 AND event_id = #{eventId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xzlcPT.bean.Event">
        UPDATE xz_event
        SET start_time = #{startTime,jdbcType=TIMESTAMP},end_time = #{endTime,jdbcType=TIMESTAMP},event_place = #{eventPlace,jdbcType=VARCHAR},
        event_by = #{eventBy,jdbcType=VARCHAR},event_writer = #{eventWriter,jdbcType=VARCHAR},event_title = #{eventTitle,jdbcType=VARCHAR},
        event_article = #{eventArticle,jdbcType=VARCHAR},event_type = #{eventType,jdbcType=VARCHAR},delete_date = #{deleteDate,jdbcType=DATE},
        filed1 = #{filed1,jdbcType=VARCHAR},filed2 = #{filed2,jdbcType=VARCHAR},filed3 = #{filed3,jdbcType=VARCHAR}
        WHERE delete_flag = 0 AND event_id = #{eventId,jdbcType=BIGINT}
    </update>
    <!--前台查询所有数据-->
    <select id="selectEventAll" resultMap="EventResultMap" parameterType="com.xzlcPT.bean.Event">
        /*SELECT e.event_id,e.start_time,e.end_time,e.event_place,e.event_by,e.event_writer,e.event_title,e.event_article,
        e.event_type,i.image_type,i.image_path,e.filed1,e.filed2,e.filed3
        FROM xz_event e LEFT JOIN xz_image i ON e.event_image = i.image_id WHERE e.delete_flag = 0 AND i.image_type = '活动'*/
    </select>
    <!--后台根据条件查询数据-->
    <select id="selectEventAllEnd" resultMap="EventResultMap" parameterType="java.util.HashMap">
        SELECT event_id,start_time,end_time,event_place,event_by,event_writer,event_title,event_article,event_type
        FROM xz_event WHERE delete_flag = 0
        <if test="eventId!=null and eventId!=''">
            AND event_id = #{eventId,jdbcType=BIGINT}
        </if>
        <if test="begin!=null and over!=null">
            AND start_time &gt; #{begin,jdbcType=TIMESTAMP} AND start_time &lt; #{over,jdbcType=TIMESTAMP}
        </if>
        <if test="begin!=null and over==null">
            AND start_time &gt; #{begin,jdbcType=TIMESTAMP}
        </if>
        <if test="begin==null and over!=null">
            AND start_time &lt; #{over,jdbcType=TIMESTAMP}
        </if>
        <if test="beginTime!=null and overTime!=null">
            AND end_time &gt; #{beginTime,jdbcType=TIMESTAMP} AND end_time &lt; #{overTime,jdbcType=TIMESTAMP}
        </if>
        <if test="beginTime!=null and overTime==null">
            AND end_time &gt; #{beginTime,jdbcType=TIMESTAMP}
        </if>
        <if test="beginTime==null and overTime!=null">
            AND end_time &lt; #{overTime,jdbcType=TIMESTAMP}
        </if>
        <if test="eventPlace!=null and eventPlace!=''">
            AND event_place LIKE CONCAT('%',#{eventPlace},'%')
        </if>
        <if test="eventBy!=null and eventBy!=''">
            AND event_by LIKE CONCAT('%',#{eventBy},'%')
        </if>
        <if test="eventWriter!=null and eventWriter!=''">
            AND event_writer LIKE CONCAT('%',#{eventWriter},'%')
        </if>
        <if test="eventTitle!=null and eventTitle!=''">
            AND event_title LIKE CONCAT('%',#{eventTitle},'%')
        </if>
        <if test="eventArticle!=null and eventArticle!=''">
            AND event_article LIKE CONCAT('%',#{eventArticle},'%')
        </if>
        <if test="eventType!=null and eventType!=''">
            AND event_type LIKE CONCAT('%',#{eventType},'%')
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="EventResultMap" parameterType="com.xzlcPT.bean.Event">
        SELECT
        <include refid="Event_Column_List"/>
        FROM xz_event
        WHERE delete_flag = 0 AND event_id = #{eventId,jdbcType=BIGINT}
    </select>
    <select id="selectRecentEvent" resultMap="EventResultMap">
        /*SELECT e.event_id,e.start_time,e.end_time,e.event_place,e.event_by,e.event_title,i.image_type,i.image_path
        FROM xz_event e LEFT JOIN xz_image i ON e.event_image = i.image_id
        WHERE e.delete_flag = 0 AND i.image_type = '近期活动' ORDER BY event_id DESC*/
    </select>
</mapper>