<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcPT.dao.LoginUserMapper">
    <resultMap id="BaseResultMap" type="com.xzlcPT.bean.XzLogin">
        <id column="login_id" jdbcType="BIGINT" property="loginId"/>
        <result column="login_count" jdbcType="VARCHAR" property="loginCount"/>
        <result column="login_password" jdbcType="VARCHAR" property="loginPassword"/>
        <result column="login_email" jdbcType="VARCHAR" property="loginEmail"/>
        <result column="login_type" jdbcType="INTEGER" property="loginType"/>
        <result column="login_active" jdbcType="INTEGER" property="loginActive"/>
        <result column="delete_login_date" jdbcType="DATE" property="deleteLoginDate"/>
        <result column="delete_falt" jdbcType="INTEGER" property="deleteFalt"/>
        <result column="filed1" jdbcType="VARCHAR" property="filed1"/>
        <result column="filed2" jdbcType="VARCHAR" property="filed2"/>
        <result column="filed3" jdbcType="VARCHAR" property="filed3"/>
    </resultMap>
    <resultMap id="CompanyOrMember" type="com.xzlcPT.bean.XzLogin">
        <id column="login_id" jdbcType="BIGINT" property="loginId"/>
        <result column="login_count" jdbcType="VARCHAR" property="loginCount"/>
        <result column="login_password" jdbcType="VARCHAR" property="loginPassword"/>
        <result column="login_email" jdbcType="VARCHAR" property="loginEmail"/>
        <result column="login_type" jdbcType="INTEGER" property="loginType"/>
        <result column="login_active" jdbcType="INTEGER" property="loginActive"/>
        <association property="member" javaType="com.xzlcPT.bean.XzMember">
            <id column="member_id" jdbcType="BIGINT" property="memberId" />
            <result column="login_id" jdbcType="BIGINT" property="loginId" />
            <result column="member_name" jdbcType="VARCHAR" property="memberName" />
            <result column="member_sex" jdbcType="INTEGER" property="memberSex" />
            <result column="member_age" jdbcType="INTEGER" property="memberAge" />
            <result column="member_birth" jdbcType="DATE" property="memberBirth" />
            <result column="member_education" jdbcType="VARCHAR" property="memberEducation" />
            <result column="member_IDcard" jdbcType="VARCHAR" property="memberIDcard" />
            <result column="member_phone" jdbcType="VARCHAR" property="memberPhone" />
            <result column="member_picture" jdbcType="VARCHAR" property="memberPicture" />
            <result column="member_address" jdbcType="VARCHAR" property="memberAddress" />
            <result column="member_email" jdbcType="VARCHAR" property="memberEmail" />
        </association>
        <association property="company" javaType="com.xzlcPT.bean.XzCompany">
            <id column="company_id" jdbcType="BIGINT" property="companyId"/>
            <result column="login_id" jdbcType="BIGINT" property="loginId"/>
            <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
            <result column="company_location" jdbcType="VARCHAR" property="companyLocation"/>
            <result column="company_phone" jdbcType="VARCHAR" property="companyPhone"/>
            <result column="company_picture" jdbcType="VARCHAR" property="companyPicture"/>
            <result column="company_intro" jdbcType="VARCHAR" property="companyIntro"/>
            <result column="company_scale" jdbcType="VARCHAR" property="companyScale"/>
            <result column="company_nature" jdbcType="INTEGER" property="companyNature"/>
            <result column="industry" jdbcType="VARCHAR" property="industry"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
    login_id, login_count, login_password, login_email, login_type,login_active
  </sql>
    <sql id="Base_Column_List1">
    login_id, login_count, login_password, login_email, login_type, login_active, delete_login_date, delete_falt
  </sql>


    <select id="selNE" resultMap="BaseResultMap" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        FROM xz_login
        where delete_falt = 0
        <if test="username!=null and username!=''">
          and (login_count = #{username} or login_email = #{username})
        </if>

    </select>

    <select id="loginNE" resultMap="CompanyOrMember" parameterType="Map">
        select *
        FROM xz_login l
        <if test="usertype==1">
            ,xz_member m
        </if>
        <if test="usertype==2">
            ,xz_company c
        </if>
        where l.delete_falt = 0
        <if test="username!=null and username!=''">
            and l.login_count = #{username} and l.login_password = #{password}
        </if>
        <if test="email!=null and email!=''">
            and l.login_email = #{email} and l.login_password = #{password}
        </if>
        <if test="usertype==1">
            and l.login_id = m.login_id
        </if>
        <if test="usertype==2">
            and l.login_id = c.login_id
        </if>
    </select>

    <select id="selAllLoginEnd" resultMap="BaseResultMap" parameterType="com.xzlcPT.bean.XzLogin">
        select
        <include refid="Base_Column_List1"/>
        FROM xz_login
        where delete_falt = 0
        <if test="loginCount!=null and loginCount!=''">
            and login_count like CONCAT('%',#{loginCount},'%')
        </if>
        <if test="loginEmail!=null and loginEmail!=''">
            and login_email like CONCAT('%',#{loginEmail},'%')
        </if>
        <if test="loginActive!=null and loginActive!=0">
            and login_active = #{loginActive}
        </if>
        <if test="loginType!=null and loginType!=0">
            and login_type = #{loginType}
        </if>
            and login_id != 1
    </select>

    <select id="selLoginByCountEnd" resultMap="BaseResultMap" parameterType="com.xzlcPT.bean.XzLogin">
        select
        <include refid="Base_Column_List1"/>
        FROM xz_login
        where 1=1
        and delete_falt = 0
        <if test="loginCount!=null and loginCount!=''">
            and login_count = #{loginCount}
        </if>

    </select>

    <insert id="addLoginEnd" parameterType="com.xzlcPT.bean.XzLogin">

        <selectKey keyProperty="loginID" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into xz_login
        <trim prefix="(" suffix=")" suffixOverrides=",">
                login_id,
            <if test="loginCount != null">
                login_count,
            </if>
            <if test="loginPassword != null">
                login_password,
            </if>
            <if test="loginEmail != null">
                login_email,
            </if>
            <if test="loginType != 0">
                login_type,
            </if>
            <if test="loginActive != 0">
                login_active,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{loginID,jdbcType=BIGINT},
            <if test="loginCount != null">
                #{loginCount,jdbcType=VARCHAR},
            </if>
            <if test="loginPassword != null">
                #{loginPassword,jdbcType=VARCHAR},
            </if>
            <if test="loginEmail != null">
                #{loginEmail,jdbcType=VARCHAR},
            </if>
            <if test="loginType != 0">
                #{loginType,jdbcType=INTEGER},
            </if>
            <if test="loginActive != 0">
                #{loginActive,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateLoginEnd" parameterType="com.xzlcPT.bean.XzLogin">
        update xz_login
        <set>
            <if test="loginCount != null">
                login_count = #{loginCount},
            </if>
            <if test="loginPassword != null">
                login_password = #{loginPassword},
            </if>
            <if test="loginEmail != null">
                login_email = #{loginEmail},
            </if>
            <if test="loginType != null">
                login_type = #{loginType},
            </if>
            <if test="loginActive != null">
                login_active = #{loginActive},
            </if>
            <if test="deleteLoginDate != null">
                delete_login_date = #{deleteLoginDate},
            </if>
            <if test="deleteFalt != null">
                delete_falt = #{deleteFalt},
            </if>
            <if test="filed1 != null">
                filed1 = #{filed1},
            </if>
            <if test="filed2 != null">
                filed2 = #{filed2},
            </if>
            <if test="filed3 != null">
                filed3 = #{filed3},
            </if>
        </set>
        where login_id = #{loginID,jdbcType=BIGINT}
    </update>

    <delete id="deleteLoginEnd" parameterType="java.lang.Long">
        delete from xz_login
        where login_id = #{loginID,jdbcType=BIGINT}
    </delete>

    <select id="selByLoginIDEnd" resultMap="BaseResultMap" parameterType="com.xzlcPT.bean.XzLogin">
        select
        <include refid="Base_Column_List1"/>
        FROM xz_login
        where login_id = #{loginID,jdbcType=BIGINT}
        and delete_falt = 0
    </select>


</mapper>