<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcPT.dao.XzCompanyProductMapper">
  <resultMap id="BaseResultMap" type="com.xzlcPT.bean.XzCompanyProduct">
    <id column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="product_Intro" jdbcType="VARCHAR" property="productIntro" />
    <result column="product_url" jdbcType="VARCHAR" property="productUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_falt" jdbcType="INTEGER" property="deleteFalt" />
    <result column="filed1" jdbcType="VARCHAR" property="filed1" />
    <result column="filed2" jdbcType="VARCHAR" property="filed2" />
    <result column="filed3" jdbcType="VARCHAR" property="filed3" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, company_id, product_Intro, product_url, create_time, delete_time, delete_falt, 
    filed1, filed2, filed3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xz_company_product
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from xz_company_product
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  parameterType="com.xzlcPT.bean.XzCompanyProduct">
    insert into xz_company_product (product_id, company_id, product_Intro, 
      product_url, create_time, delete_time, 
      delete_falt, filed1, filed2, 
      filed3)
    values (#{productId,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{productIntro,jdbcType=VARCHAR}, 
      #{productUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, 
      #{deleteFalt,jdbcType=INTEGER}, #{filed1,jdbcType=VARCHAR}, #{filed2,jdbcType=VARCHAR}, 
      #{filed3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xzlcPT.bean.XzCompanyProduct">
    insert into xz_company_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="productIntro != null">
        product_Intro,
      </if>
      <if test="productUrl != null">
        product_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="deleteFalt != null">
        delete_falt,
      </if>
      <if test="filed1 != null">
        filed1,
      </if>
      <if test="filed2 != null">
        filed2,
      </if>
      <if test="filed3 != null">
        filed3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="productIntro != null">
        #{productIntro,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null">
        #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFalt != null">
        #{deleteFalt,jdbcType=INTEGER},
      </if>
      <if test="filed1 != null">
        #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null">
        #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null">
        #{filed3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzlcPT.bean.XzCompanyProduct">
    update xz_company_product
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="productIntro != null">
        product_Intro = #{productIntro,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null">
        product_url = #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFalt != null">
        delete_falt = #{deleteFalt,jdbcType=INTEGER},
      </if>
      <if test="filed1 != null">
        filed1 = #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null">
        filed2 = #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null">
        filed3 = #{filed3,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzlcPT.bean.XzCompanyProduct">
    update xz_company_product
    set company_id = #{companyId,jdbcType=BIGINT},
      product_Intro = #{productIntro,jdbcType=VARCHAR},
      product_url = #{productUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      delete_falt = #{deleteFalt,jdbcType=INTEGER},
      filed1 = #{filed1,jdbcType=VARCHAR},
      filed2 = #{filed2,jdbcType=VARCHAR},
      filed3 = #{filed3,jdbcType=VARCHAR}
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <insert id="insertProduct" parameterType="com.xzlcPT.bean.XzCompanyProduct" >
    insert into xz_company_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="productIntro != null">
        product_Intro,
      </if>
      <if test="productUrl != null">
        product_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="productIntro != null">
        #{productIntro,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null">
        #{productUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateProduct" parameterType="com.xzlcPT.bean.XzCompanyProduct">
     update xz_company_product
    <set>
      <if test="companyId != null and companyId != ''">
      company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="productIntro != null and productIntro != ''">
      product_Intro = #{productIntro,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null and productUrl != ''">
      product_url = #{productUrl,jdbcType=VARCHAR}
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <select id="selectByCompanyId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xz_company_product
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>
</mapper>