<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcPT.dao.XzCompanyMapper">
  <resultMap id="BaseResultMap" type="com.xzlcPT.bean.XzCompany">
    <id column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="login_id" jdbcType="BIGINT" property="loginId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_city" jdbcType="VARCHAR" property="companyCity"/>
    <result column="company_space" jdbcType="VARCHAR" property="companySpace"/>
    <result column="company_location" jdbcType="VARCHAR" property="companyLocation"/>
    <result column="company_y" jdbcType="DOUBLE" property="companyY"/>
    <result column="company_x" jdbcType="DOUBLE" property="companyX"/>
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="company_picture" jdbcType="VARCHAR" property="companyPicture" />
    <result column="company_intro" jdbcType="VARCHAR" property="companyIntro" />
    <result column="company_scale" jdbcType="VARCHAR" property="companyScale" />
    <result column="company_nature" jdbcType="INTEGER" property="companyNature" />
    <result column="licence" jdbcType="VARCHAR" property="licence" />
    <result column="company_state" jdbcType="INTEGER" property="companyState" />
    <result column="is_listing" jdbcType="INTEGER" property="isListing" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="skill" jdbcType="VARCHAR" property="skill" />
    <result column="financing" jdbcType="VARCHAR" property="financing" />
    <result column="delete_company_date" jdbcType="DATE" property="deleteCompanyDate" />
    <result column="filed1" jdbcType="VARCHAR" property="filed1" />
    <result column="filed2" jdbcType="VARCHAR" property="filed2" />
    <result column="filed3" jdbcType="VARCHAR" property="filed3" />
    <result column="delete_falt" jdbcType="BIGINT" property="deleteFalt" />
    <result column="follow_id" jdbcType="BIGINT" property="followId"/>
    <result column="follow_time" jdbcType="TIMESTAMP" property="followTime"/>
  </resultMap>
  <resultMap id="CompanyInfo" type="com.xzlcPT.bean.XzCompany">
    <id column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="login_id" jdbcType="BIGINT" property="loginId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_city" jdbcType="VARCHAR" property="companyCity"/>
    <result column="company_space" jdbcType="VARCHAR" property="companySpace"/>
    <result column="company_location" jdbcType="VARCHAR" property="companyLocation"/>
    <result column="company_y" jdbcType="DOUBLE" property="companyY"/>
    <result column="company_x" jdbcType="DOUBLE" property="companyX"/>
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="company_picture" jdbcType="VARCHAR" property="companyPicture" />
    <result column="company_intro" jdbcType="VARCHAR" property="companyIntro" />
    <result column="company_scale" jdbcType="VARCHAR" property="companyScale" />
    <result column="company_nature" jdbcType="INTEGER" property="companyNature" />
    <result column="licence" jdbcType="VARCHAR" property="licence" />
    <result column="company_state" jdbcType="INTEGER" property="companyState" />
    <result column="is_listing" jdbcType="INTEGER" property="isListing" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="skill" jdbcType="VARCHAR" property="skill" />
    <result column="financing" jdbcType="VARCHAR" property="financing" />
    <collection property="products" ofType="com.xzlcPT.bean.XzCompanyProduct">
      <id column="product_id" jdbcType="BIGINT" property="productId" />
      <result column="product_Intro" jdbcType="VARCHAR" property="productIntro" />
      <result column="product_url" jdbcType="VARCHAR" property="productUrl" />
    </collection>
    <collection property="images" ofType="com.xzlcPT.bean.XzCompanyImage">
      <id column="image_id" jdbcType="BIGINT" property="imageId" />
      <result column="image_type" jdbcType="VARCHAR" property="imageType" />
      <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
      <result column="company_id" jdbcType="BIGINT" property="companyId" />
    </collection>
  </resultMap>
  <resultMap id="SelectAllMap" type="com.xzlcPT.bean.XzCompany">
    <id column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="login_id" jdbcType="BIGINT" property="loginId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_city" jdbcType="VARCHAR" property="companyCity"/>
    <result column="company_space" jdbcType="VARCHAR" property="companySpace"/>
    <result column="company_location" jdbcType="VARCHAR" property="companyLocation"/>
    <result column="company_y" jdbcType="DOUBLE" property="companyY"/>
    <result column="company_x" jdbcType="DOUBLE" property="companyX"/>
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="company_picture" jdbcType="VARCHAR" property="companyPicture" />
    <result column="company_intro" jdbcType="VARCHAR" property="companyIntro" />
    <result column="company_scale" jdbcType="VARCHAR" property="companyScale" />
    <result column="company_nature" jdbcType="INTEGER" property="companyNature" />
    <result column="licence" jdbcType="VARCHAR" property="licence" />
    <result column="company_state" jdbcType="INTEGER" property="companyState" />
    <result column="is_listing" jdbcType="INTEGER" property="isListing" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="skill" jdbcType="VARCHAR" property="skill" />
    <result column="financing" jdbcType="VARCHAR" property="financing" />
    <result column="delete_company_date" jdbcType="DATE" property="deleteCompanyDate" />
    <result column="filed1" jdbcType="VARCHAR" property="filed1" />
    <result column="filed2" jdbcType="VARCHAR" property="filed2" />
    <result column="filed3" jdbcType="VARCHAR" property="filed3" />
    <result column="delete_falt" jdbcType="BIGINT" property="deleteFalt" />
    <result column="pcount" jdbcType="INTEGER" property="pcount"/>
    <collection property="images" ofType="com.xzlcPT.bean.XzCompanyImage">
      <id column="image_id" jdbcType="BIGINT" property="imageId" />
      <result column="image_type" jdbcType="VARCHAR" property="imageType" />
      <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
      <result column="company_id" jdbcType="BIGINT" property="companyId" />
    </collection>
    <collection property="welfares" ofType="com.xzlcPT.bean.XzCompanyWelfare">
      <id column="welfare_id" jdbcType="BIGINT" property="welfareId" />
      <result column="welfare_name" jdbcType="VARCHAR" property="welfareName" />
    </collection>
    <collection property="postions" ofType="com.xzlcPT.bean.XzPostion">
      <id column="postion_id" jdbcType="BIGINT" property="postionId" />
      <result column="company_id" jdbcType="BIGINT" property="companyId" />
      <result column="postion_name" jdbcType="VARCHAR" property="postionName" />
      <result column="postion_company" jdbcType="VARCHAR" property="postionCompany" />
      <result column="postion_ym" jdbcType="INTEGER" property="postionYm" />
      <result column="postion_mm" jdbcType="INTEGER" property="postionMm" />
      <result column="postion_space" jdbcType="VARCHAR" property="postionSpace" />
      <result column="postion_time" jdbcType="TIMESTAMP" property="postionTime" />
      <result column="postion_education" jdbcType="VARCHAR" property="postionEducation" />
      <result column="postion_exp" jdbcType="VARCHAR" property="postionExp" />
      <result column="postion_age" jdbcType="VARCHAR" property="postionAge" />
      <result column="postion_description" jdbcType="VARCHAR" property="postionDescription" />
      <result column="postion_welfare" jdbcType="VARCHAR" property="postionWelfare" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
      <result column="delete_flat" jdbcType="INTEGER" property="deleteFlat" />
      <result column="filed1" jdbcType="VARCHAR" property="filed1" />
      <result column="filed2" jdbcType="VARCHAR" property="filed2" />
      <result column="filed3" jdbcType="VARCHAR" property="filed3" />
    </collection>
  </resultMap>
  <resultMap id="selectInf" type="com.xzlcPT.bean.XzCompany">
    <id column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="login_id" jdbcType="BIGINT" property="loginId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_city" jdbcType="VARCHAR" property="companyCity"/>
    <result column="company_space" jdbcType="VARCHAR" property="companySpace"/>
    <result column="company_location" jdbcType="VARCHAR" property="companyLocation"/>
    <result column="company_y" jdbcType="DOUBLE" property="companyY"/>
    <result column="company_x" jdbcType="DOUBLE" property="companyX"/>
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="company_picture" jdbcType="VARCHAR" property="companyPicture" />
    <result column="company_intro" jdbcType="VARCHAR" property="companyIntro" />
    <result column="company_scale" jdbcType="VARCHAR" property="companyScale" />
    <result column="company_nature" jdbcType="INTEGER" property="companyNature" />
    <result column="licence" jdbcType="VARCHAR" property="licence" />
    <result column="company_state" jdbcType="INTEGER" property="companyState" />
    <result column="is_listing" jdbcType="INTEGER" property="isListing" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="skill" jdbcType="VARCHAR" property="skill" />
    <result column="financing" jdbcType="VARCHAR" property="financing" />
    <result column="delete_company_date" jdbcType="DATE" property="deleteCompanyDate" />
    <result column="filed1" jdbcType="VARCHAR" property="filed1" />
    <result column="filed2" jdbcType="VARCHAR" property="filed2" />
    <result column="pcount" jdbcType="INTEGER" property="pcount"/>
    <collection property="products" ofType="com.xzlcPT.bean.XzCompanyProduct">
      <id column="product_id" jdbcType="BIGINT" property="productId" />
      <result column="product_Intro" jdbcType="VARCHAR" property="productIntro" />
      <result column="product_url" jdbcType="VARCHAR" property="productUrl" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    </collection>
    <collection property="welfares" ofType="com.xzlcPT.bean.XzCompanyWelfare">
      <id column="welfare_id" jdbcType="BIGINT" property="welfareId" />
      <result column="welfare_name" jdbcType="VARCHAR" property="welfareName" />
    </collection>
      <collection property="fields" ofType="com.xzlcPT.bean.XzField">
        <id column="field_id" jdbcType="BIGINT" property="fieldId" />
        <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
        <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
      </collection>
    <collection property="postions" ofType="com.xzlcPT.bean.XzPostion">
      <id column="postion_id" jdbcType="BIGINT" property="postionId" />
      <result column="postion_name" jdbcType="VARCHAR" property="postionName" />
      <result column="postion_company" jdbcType="VARCHAR" property="postionCompany" />
      <result column="postion_ym" jdbcType="INTEGER" property="postionYm" />
      <result column="postion_mm" jdbcType="INTEGER" property="postionMm" />
      <result column="postion_space" jdbcType="VARCHAR" property="postionSpace" />
      <result column="postion_time" jdbcType="TIMESTAMP" property="postionTime" />
      <result column="postion_education" jdbcType="VARCHAR" property="postionEducation" />
      <result column="postion_exp" jdbcType="VARCHAR" property="postionExp" />
      <result column="postion_age" jdbcType="VARCHAR" property="postionAge" />
      <result column="postion_description" jdbcType="VARCHAR" property="postionDescription" />
      <result column="postion_welfare" jdbcType="VARCHAR" property="postionWelfare" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
      <result column="delete_flat" jdbcType="INTEGER" property="deleteFlat" />
      <result column="filed1" jdbcType="VARCHAR" property="filed1" />
      <result column="filed2" jdbcType="VARCHAR" property="filed2" />
      <result column="filed3" jdbcType="VARCHAR" property="filed3" />
    </collection>
    <collection property="miens" ofType="com.xzlcPT.bean.XzCompanyMien">
      <id column="mien_id" jdbcType="BIGINT" property="mienId" />
      <result column="mien_Intro" jdbcType="VARCHAR" property="mienIntro" />
      <result column="mien_url" jdbcType="VARCHAR" property="mienUrl" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    </collection>
    <collection property="skills" ofType="com.xzlcPT.bean.XzCompanySkill">
      <id column="skill_id" jdbcType="BIGINT" property="skillId"/>
      <result column="skill_name" jdbcType="VARCHAR" property="skillName"/>
    </collection>
  </resultMap>


  <sql id="Base_Column_List">
    company_id, login_id, company_name,company_city, company_space, company_location, company_y, company_x, company_phone, company_picture,
    company_intro, company_scale, company_nature, licence, company_state, is_listing,
    domain, skill, financing, delete_company_date, filed1, filed2, filed3, delete_falt
  </sql>
  <sql id="selCompanyInfoList">
    c.company_id, c.login_id, c.company_name, c.company_city, c.company_space, c.company_location, c.company_y, c.company_x, c.company_phone, c.company_picture,
    c.company_intro, c.company_scale, c.company_nature, c.licence, c.company_state, c.is_listing,
    c.domain, c.skill, c.financing,
    p.product_id, p.company_id, p.product_Intro, p.product_url,
    i.image_id, i.image_type, i.image_path, i.company_id
  </sql>
  <sql id="selAllJobList">
    c.company_id, c.login_id, c.company_name,c.company_city, c.company_space, c.company_location, c.company_y, c.company_x, c.company_phone, c.company_picture,
    c.company_intro, c.company_scale, c.company_nature, c.licence, c.company_state, c.is_listing,
    c.domain, c.skill, c.financing,
    i.image_id, i.image_type, i.image_path, i.company_id,
    w.welfare_id,w.company_id,w.welfare_name,
    p.postion_id,p.company_id,p.postion_name,p.postion_company,p.postion_ym,p.postion_mm,p.postion_space,p.postion_time,
    p.postion_education,p.postion_exp,p.postion_age,p.postion_description,p.postion_welfare,p.create_time,p.delete_time,
    p.delete_flat,p.filed1,p.filed2,p.filed3
  </sql>
  <sql id="selInfList">
    c.company_id, c.login_id, c.company_name,c.company_city, c.company_space, c.company_location, c.company_y, c.company_x, c.company_phone, c.company_picture,
    c.company_intro, c.company_scale, c.company_nature, c.licence, c.company_state, c.is_listing,
    c.domain, c.skill, c.financing,
    p.product_id,p.company_id, p.product_Intro, p.product_url,
    w.welfare_id,w.company_id,w.welfare_name,
    f.field_id, f.field_name, f.field_type,
    s.postion_id,s.company_id,s.postion_name,s.postion_company,s.postion_ym,s.postion_mm,s.postion_space,s.postion_time,
    s.postion_education,s.postion_exp,s.postion_age,s.postion_description,s.postion_welfare,s.create_time,s.delete_time,
    m.mien_id,m.company_id, m.mien_Intro, m.mien_url,
    k.skill_id,k.company_id,k.skill_name
</sql>

  <select id="selCompanyInfo" resultMap="CompanyInfo" parameterType="java.lang.Long">
    select
    <include refid="selCompanyInfoList" />
    FROM xz_company c LEFT JOIN xz_company_product p on c.company_id = p.company_id LEFT JOIN xz_company_image i on c.company_id = i.company_id
    where c.company_id = #{companyId,jdbcType=BIGINT}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xz_company
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from xz_company
    where company_id = #{companyId,jdbcType=BIGINT}
  </delete>
  <insert id="addCompany" parameterType="com.xzlcPT.bean.XzCompany">
    <selectKey keyProperty="companyId" resultType="long">
      select LAST_INSERT_ID()
    </selectKey>
    insert into xz_company (company_id, login_id, company_name, company_city, company_space,
    company_location, company_y, company_x, company_phone, company_picture,
    company_intro, company_scale, company_nature, licence, company_state,
    is_listing, domain, skill, financing, delete_company_date, filed1, filed2, filed3, delete_falt )
    values (#{companyId,jdbcType=BIGINT}, #{loginId,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR},
    #{companyCity,jdbcType=VARCHAR}, #{companySpace,jdbcType=VARCHAR}, #{companyLocation,jdbcType=VARCHAR},
    #{companyY,jdbcType=DOUBLE}, #{companyX,jdbcType=DOUBLE}, #{companyPhone,jdbcType=VARCHAR},
    #{companyPicture,jdbcType=VARCHAR}, #{companyIntro,jdbcType=VARCHAR}, #{companyScale,jdbcType=VARCHAR},
    #{companyNature,jdbcType=INTEGER}, #{licence,jdbcType=VARCHAR}, #{companyState,jdbcType=INTEGER},
    #{isListing,jdbcType=INTEGER}, #{domain,jdbcType=VARCHAR}, #{skill,jdbcType=VARCHAR},
    #{financing,jdbcType=VARCHAR}, #{deleteCompanyDate,jdbcType=DATE}, #{filed1,jdbcType=VARCHAR},
    #{filed2,jdbcType=VARCHAR}, #{filed3,jdbcType=VARCHAR}, #{deleteFalt,jdbcType=BIGINT} )
  </insert>
  <insert id="insert" parameterType="com.xzlcPT.bean.XzCompany">
    insert into xz_company (company_id, login_id, company_name,
    company_city, company_space, company_location, company_y, company_x, company_phone, company_picture,
    company_intro, company_scale, company_nature,
    licence, company_state, is_listing,
    domain, skill, financing,
    delete_company_date, filed1, filed2,
    filed3, delete_falt)
    values (#{companyId,jdbcType=BIGINT}, #{loginId,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR},
    #{companyLocation,jdbcType=VARCHAR}, #{companyPhone,jdbcType=VARCHAR}, #{companyPicture,jdbcType=VARCHAR},
    #{companyIntro,jdbcType=VARCHAR}, #{companyScale,jdbcType=VARCHAR}, #{companyNature,jdbcType=INTEGER},
    #{licence,jdbcType=VARCHAR}, #{companyState,jdbcType=INTEGER}, #{isListing,jdbcType=INTEGER},
    #{domain,jdbcType=VARCHAR}, #{skill,jdbcType=VARCHAR}, #{financing,jdbcType=VARCHAR},
    #{deleteCompanyDate,jdbcType=DATE}, #{filed1,jdbcType=VARCHAR}, #{filed2,jdbcType=VARCHAR},
    #{filed3,jdbcType=VARCHAR}, #{deleteFalt,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xzlcPT.bean.XzCompany">
    insert into xz_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="loginId != null">
        login_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyCity != null">
        company_city,
      </if>
      <if test="companySpace != null">
        company_space,
      </if>
      <if test="companyLocation != null">
        company_location,
      </if>
      <if test="companyY != null">
        company_y,
      </if>
      <if test="companyX != null">
        company_x,
      </if>
      <if test="companyPhone != null">
        company_phone,
      </if>
      <if test="companyPicture != null">
        company_picture,
      </if>
      <if test="companyIntro != null">
        company_intro,
      </if>
      <if test="companyScale != null">
        company_scale,
      </if>
      <if test="companyNature != null">
        company_nature,
      </if>
      <if test="licence != null">
        licence,
      </if>
      <if test="companyState != null">
        company_state,
      </if>
      <if test="isListing != null">
        is_listing,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="skill != null">
        skill,
      </if>
      <if test="financing != null">
        financing,
      </if>
      <if test="deleteCompanyDate != null">
        delete_company_date,
      </if>
      <if test="filed1 != null">
        filed1,
      </if>
      <if test="filed2 != null">
        filed2,
      </if>
      <if test="filed3 != null">
        filed3,
      </if>
      <if test="deleteFalt != null">
        delete_falt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="loginId != null">
        #{loginId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCity != null">
        #{companyCity,jdbcType=VARCHAR},
      </if>
      <if test="companySpace != null">
        #{companySpace,jdbcType=VARCHAR},
      </if>
      <if test="companyLocation != null">
        #{companyLocation,jdbcType=VARCHAR},
      </if>
      <if test="companyY != null">
        #{companyY,jdbcType=DOUBLE},
      </if>
      <if test="companyX != null">
        #{companyX,jdbcType=DOUBLE},
      </if>
      <if test="companyPhone != null">
        #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="companyPicture != null">
        #{companyPicture,jdbcType=VARCHAR},
      </if>
      <if test="companyIntro != null">
        #{companyIntro,jdbcType=VARCHAR},
      </if>
      <if test="companyScale != null">
        #{companyScale,jdbcType=VARCHAR},
      </if>
      <if test="companyNature != null">
        #{companyNature,jdbcType=INTEGER},
      </if>
      <if test="licence != null">
        #{licence,jdbcType=VARCHAR},
      </if>
      <if test="companyState != null">
        #{companyState,jdbcType=INTEGER},
      </if>
      <if test="isListing != null">
        #{isListing,jdbcType=INTEGER},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="financing != null">
        #{financing,jdbcType=VARCHAR},
      </if>
      <if test="deleteCompanyDate != null">
        #{deleteCompanyDate,jdbcType=DATE},
      </if>
      <if test="filed1 != null">
        #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null">
        #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null">
        #{filed3,jdbcType=VARCHAR},
      </if>
      <if test="deleteFalt != null">
        #{deleteFalt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzlcPT.bean.XzCompany">
    update xz_company
    <set>
      <if test="loginId != null and loginId !=0">
        login_id = #{loginId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCity != null">
        company_city = #{companyCity,jdbcType=VARCHAR},
      </if>
      <if test="companySpace != null">
        company_space = #{companySpace,jdbcType=VARCHAR},
      </if>
      <if test="companyLocation != null">
        company_location = #{companyLocation,jdbcType=VARCHAR},
      </if>
      <if test="companyY != null">
        company_y = #{companyY,jdbcType=DOUBLE},
      </if>
      <if test="companyX != null">
        company_x = #{companyX,jdbcType=DOUBLE},
      </if>
      <if test="companyPhone != null">
        company_phone = #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="companyPicture != null">
        company_picture = #{companyPicture,jdbcType=VARCHAR},
      </if>
      <if test="companyIntro != null">
        company_intro = #{companyIntro,jdbcType=VARCHAR},
      </if>
      <if test="companyScale != null">
        company_scale = #{companyScale,jdbcType=VARCHAR},
      </if>
      <if test="companyNature != null">
        company_nature = #{companyNature,jdbcType=INTEGER},
      </if>
      <if test="licence != null">
        licence = #{licence,jdbcType=VARCHAR},
      </if>
      <if test="companyState != null">
        company_state = #{companyState,jdbcType=INTEGER},
      </if>
      <if test="isListing != null">
        is_listing = #{isListing,jdbcType=INTEGER},
      </if>
      <if test="domain != null">
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="skill != null">
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="financing != null">
        financing = #{financing,jdbcType=VARCHAR},
      </if>
      <if test="deleteCompanyDate != null">
        delete_company_date = #{deleteCompanyDate,jdbcType=DATE},
      </if>
      <if test="filed1 != null">
        filed1 = #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null">
        filed2 = #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null">
        filed3 = #{filed3,jdbcType=VARCHAR},
      </if>
      <if test="deleteFalt != null">
        delete_falt = #{deleteFalt,jdbcType=BIGINT},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzlcPT.bean.XzCompany">
    update xz_company
    set login_id = #{loginId,jdbcType=BIGINT},
    company_name = #{companyName,jdbcType=VARCHAR},
    company_city = #{companyCity,jdbcType=VARCHAR},
    company_space = #{companySpace,jdbcType=VARCHAR},
    company_location = #{companyLocation,jdbcType=VARCHAR},
    company_y = #{companyY,jdbcType=DOUBLE},
    company_x = #{companyX,jdbcType=DOUBLE},
    company_phone = #{companyPhone,jdbcType=VARCHAR},
    company_picture = #{companyPicture,jdbcType=VARCHAR},
    company_intro = #{companyIntro,jdbcType=VARCHAR},
    company_scale = #{companyScale,jdbcType=VARCHAR},
    company_nature = #{companyNature,jdbcType=INTEGER},
    licence = #{licence,jdbcType=VARCHAR},
    company_state = #{companyState,jdbcType=INTEGER},
    is_listing = #{isListing,jdbcType=INTEGER},
    domain = #{domain,jdbcType=VARCHAR},
    skill = #{skill,jdbcType=VARCHAR},
    financing = #{financing,jdbcType=VARCHAR},
    delete_company_date = #{deleteCompanyDate,jdbcType=DATE},
    filed1 = #{filed1,jdbcType=VARCHAR},
    filed2 = #{filed2,jdbcType=VARCHAR},
    filed3 = #{filed3,jdbcType=VARCHAR},
    delete_falt = #{deleteFalt,jdbcType=BIGINT}
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <select id="selectPcount" resultMap="SelectAllMap">
    select
    c.company_id,count(p.postion_id) as pcount
    from xz_company c  LEFT JOIN xz_postion p on c.company_id = p.company_id
    GROUP BY company_id
  </select>
  <select id="selectAllJob"  resultMap="SelectAllMap" parameterType="java.util.List">
    select
    <include refid="selAllJobList"/>
    from xz_company c LEFT JOIN xz_company_welfare w on c.company_id = w.company_id LEFT JOIN xz_company_image i on c.company_id = i.company_id LEFT  JOIN  xz_postion p on c.company_id = p.company_id
    where delete_falt = 0
    <if test="list.size>0">
    and c.company_id in
    <foreach collection="list" item="company_id" open="(" close=")" separator="," >
      #{company_id,jdbcType=BIGINT}
    </foreach>
    </if>
    <if test="list.size==0">
      and 1=0
    </if>
  </select>
  <select id="selectByDomain" resultMap="SelectAllMap"  parameterType="com.xzlcPT.bean.XzCompany">
    SELECT  c.company_id,count(p.postion_id) as pcount from
    xz_company c  LEFT JOIN xz_company_domain d ON
    c.company_id=d.company_id LEFT JOIN xz_field f ON f.field_id=d.field_id
    LEFT JOIN xz_postion p on c.company_id = p.company_id
    WHERE delete_falt = 0
    <if test="fields!=null">
    AND f.field_name in
    <foreach collection="fields" item = "field" open="(" close=")" separator="," >
      #{field.fieldName,jdbcType=VARCHAR}
    </foreach>
   </if>
    <if test="companyCity != null and companyCity != ''">
    and c.company_city = #{companyCity,jdbcType=VARCHAR}
  </if>
    <if test="companyName != null and companyName != '' ">
    and c.company_name like CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')
    </if>
    GROUP BY c.company_id
  </select>
  <select id="selCompanyInf" resultMap="selectInf" parameterType="java.lang.Long">
    select
    <include refid="selInfList"/>
    from xz_company c
    LEFT JOIN xz_company_welfare w on c.company_id = w.company_id
    LEFT JOIN xz_company_product p on c.company_id = p.company_id
    LEFT JOIN xz_company_skill k ON c.company_id=k.company_id
    LEFT JOIN xz_company_domain d ON c.company_id=d.company_id
    LEFT JOIN xz_field f ON f.field_id=d.field_id
    LEFT JOIN xz_postion s ON s.company_id=c.company_id
    LEFT JOIN xz_company_mien m ON c.company_id=m.company_id
    where c.company_id = #{companyId,jdbcType=BIGINT}
  </select>
  <update id="updateCompanyPic"  parameterType="com.xzlcPT.bean.XzCompany">
    update xz_company
    <set>
      <if test="companyPicture != null and companyPicture != '' ">
        company_picture = #{companyPicture},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <select id="selByCompanyName" parameterType="java.util.Map" resultMap="BaseResultMap">
    select c.company_id,c.company_name from xz_company c WHERE
    c.company_name LIKE CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')and c.company_id not in (
	select company_id FROM xz_shield where resume_id = #{resumeId,jdbcType=BIGINT})
  </select>
  <select id="selByCompanyIdList" parameterType="java.util.List" resultMap="BaseResultMap">
    SELECT company_name,company_id FROM  xz_company
    <if test="list.size>0">
      WHERE company_id in
      <foreach collection="list" item="company_id" open="(" close=")" separator="," >
        #{company_id,jdbcType=BIGINT}
      </foreach>
    </if>
  </select>
  <insert id="insertFollow" parameterType="java.util.Map">
    insert into xz_company_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="followTime != null">
        follow_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="followTime != null">
        #{followTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="deleteFollow" parameterType="java.lang.Long">
    delete from xz_company_follow where follow_id=#{followId,jdbcType=INTEGER}
  </delete>
  <select id="selectFollow" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select company_id,follow_id,follow_time from xz_company_follow where member_id=#{memberId,jdbcType=INTEGER}
  </select>
  <select id="selComCount" parameterType="java.util.Map" resultMap="SelectAllMap">
    select
    c.company_id,count(p.postion_id) as pcount
    from xz_company c  LEFT JOIN xz_postion p on c.company_id = p.company_id WHERE delete_falt=0
    <if test="companyCity != null and companyCity !=''">
    and c.company_city=#{companyCity,jdbcType=BIGINT}
    </if>
    <if test="companyName != null and companyName !=''">
      and c.company_name like CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')
    </if>
    <if test="fields!=null">
      AND f.field_name in
      <foreach collection="fields" item = "field" open="(" close=")" separator="," >
        #{field.fieldName,jdbcType=VARCHAR}
      </foreach>
    </if>
    GROUP BY c.company_id
  </select>

</mapper>