<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcPT.dao.XzFieldMapper">
  <resultMap id="BaseResultMap" type="com.xzlcPT.bean.XzField">
    <id column="field_id" jdbcType="BIGINT" property="fieldId" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="filed1" jdbcType="VARCHAR" property="filed1" />
    <result column="filed2" jdbcType="VARCHAR" property="filed2" />
    <result column="filed3" jdbcType="VARCHAR" property="filed3" />
  </resultMap>
  <sql id="Base_Column_List">
    field_id, field_name, field_type, create_time, delete_time, filed1, filed2, filed3
  </sql>

  <select id="selectByType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from xz_field
    where field_type = #{fieldType,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xz_field
    where field_id = #{fieldId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from xz_field
    where field_id = #{fieldId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xzlcPT.bean.XzField">
    insert into xz_field (field_id, field_name, field_type, 
      create_time, delete_time, filed1, 
      filed2, filed3)
    values (#{fieldId,jdbcType=BIGINT}, #{fieldName,jdbcType=VARCHAR}, #{fieldType,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{filed1,jdbcType=VARCHAR}, 
      #{filed2,jdbcType=VARCHAR}, #{filed3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xzlcPT.bean.XzField">
    insert into xz_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fieldId != null">
        field_id,
      </if>
      <if test="fieldName != null">
        field_name,
      </if>
      <if test="fieldType != null">
        field_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="filed1 != null">
        filed1,
      </if>
      <if test="filed2 != null">
        filed2,
      </if>
      <if test="filed3 != null">
        filed3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fieldId != null">
        #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="filed1 != null">
        #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null">
        #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null">
        #{filed3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzlcPT.bean.XzField">
    update xz_field
    <set>
      <if test="fieldName != null">
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        field_type = #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="filed1 != null">
        filed1 = #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null">
        filed2 = #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null">
        filed3 = #{filed3,jdbcType=VARCHAR},
      </if>
    </set>
    where field_id = #{fieldId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzlcPT.bean.XzField">
    update xz_field
    set field_name = #{fieldName,jdbcType=VARCHAR},
      field_type = #{fieldType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      filed1 = #{filed1,jdbcType=VARCHAR},
      filed2 = #{filed2,jdbcType=VARCHAR},
      filed3 = #{filed3,jdbcType=VARCHAR}
    where field_id = #{fieldId,jdbcType=BIGINT}
  </update>
</mapper>