<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcPT.dao.XzPostionSendMapper">
  <resultMap id="BaseResultMap" type="com.xzlcPT.bean.XzPostionSend">
    <id column="send_id" jdbcType="BIGINT" property="sendId" />
    <result column="resume_id" jdbcType="BIGINT" property="resumeId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="postion_id" jdbcType="BIGINT" property="postionId" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="send_state" jdbcType="INTEGER" property="sendState" />
    <result column="send_visual" jdbcType="INTEGER" property="sendVisual" />
    <result column="send_msg" jdbcType="VARCHAR" property="sendMsg" />
    <result column="send_time1" jdbcType="TIMESTAMP" property="sendTime1" />
    <result column="rs_time1" jdbcType="TIMESTAMP" property="rsTime1" />
    <result column="send_type" jdbcType="INTEGER" property="sendType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="field1" jdbcType="VARCHAR" property="field1" />
    <result column="field2" jdbcType="VARCHAR" property="field2" />
    <result column="field3" jdbcType="VARCHAR" property="field3" />
    <result column="delete_falt" jdbcType="TIMESTAMP" property="deleteFalt" />
  </resultMap>
  <resultMap id="theCount" type="com.xzlcPT.bean.XzPostionSend">
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="ct" javaType="INTEGER" property="ct"/>
  </resultMap>
  <sql id="Base_Column_List">
    send_id, resume_id, company_id, postion_id, send_time, send_state, send_visual, send_msg, 
    send_time1, rs_time1, send_type, create_time, delete_time, field1, field2, field3, 
    delete_falt
  </sql>
  <!--投递计数-->
  <select id="selSendCountByCorRId" parameterType="Map" resultMap="theCount">
    SELECT count(send_id) ct,send_time
    FROM xz_postion_send
    where date_sub(curdate(), INTERVAL #{cday} DAY) &lt;= date(send_time)
    <if test="companyId!=null">
      and company_id = #{companyId,jdbcType=BIGINT}
    </if>
    <if test="resumeId!=null">
      and resume_id = #{resumeId,jdbcType=BIGINT}
    </if>
    GROUP BY DATE_FORMAT( send_time, '%Y-%m-%d' )
  </select>
  <!--是否投递-->
  <select id="selisSend" parameterType="Map" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM xz_postion_send
    where postion_id = #{postionId,jdbcType=BIGINT}
    and resume_id = #{resumeId,jdbcType=BIGINT}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xz_postion_send
    where send_id = #{sendId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from xz_postion_send
    where send_id = #{sendId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xzlcPT.bean.XzPostionSend">
    insert into xz_postion_send (send_id, resume_id, company_id, 
      postion_id, send_time, send_state, 
      send_visual, send_msg, send_time1, 
      rs_time1, send_type, create_time, 
      delete_time, field1, field2, 
      field3, delete_falt)
    values (#{sendId,jdbcType=BIGINT}, #{resumeId,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, 
      #{postionId,jdbcType=BIGINT}, #{sendTime,jdbcType=TIMESTAMP}, #{sendState,jdbcType=INTEGER}, 
      #{sendVisual,jdbcType=INTEGER}, #{sendMsg,jdbcType=VARCHAR}, #{sendTime1,jdbcType=TIMESTAMP}, 
      #{rsTime1,jdbcType=TIMESTAMP}, #{sendType,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR}, 
      #{field3,jdbcType=VARCHAR}, #{deleteFalt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="java.util.Map">
    insert into xz_postion_send
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resumeId != null">
        resume_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="postionId != null">
        postion_id,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="sendState != null">
        send_state,
      </if>
      <if test="sendVisual != null">
        send_visual,
      </if>
      <if test="sendMsg != null">
        send_msg,
      </if>
      <if test="sendTime1 != null">
        send_time1,
      </if>
      <if test="rsTime1 != null">
        rs_time1,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="field1 != null">
        field1,
      </if>
      <if test="field2 != null">
        field2,
      </if>
      <if test="field3 != null">
        field3,
      </if>
      <if test="deleteFalt != null">
        delete_falt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resumeId != null">
        #{resumeId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="postionId != null">
        #{postionId,jdbcType=BIGINT},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendState != null">
        #{sendState,jdbcType=INTEGER},
      </if>
      <if test="sendVisual != null">
        #{sendVisual,jdbcType=INTEGER},
      </if>
      <if test="sendMsg != null">
        #{sendMsg,jdbcType=VARCHAR},
      </if>
      <if test="sendTime1 != null">
        #{sendTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="rsTime1 != null">
        #{rsTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="field1 != null">
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        #{field3,jdbcType=VARCHAR},
      </if>
      <if test="deleteFalt != null">
        #{deleteFalt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzlcPT.bean.XzPostionSend">
    update xz_postion_send
    <set>
      <if test="resumeId != null">
        resume_id = #{resumeId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="postionId != null">
        postion_id = #{postionId,jdbcType=BIGINT},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendState != null">
        send_state = #{sendState,jdbcType=INTEGER},
      </if>
      <if test="sendVisual != null">
        send_visual = #{sendVisual,jdbcType=INTEGER},
      </if>
      <if test="sendMsg != null">
        send_msg = #{sendMsg,jdbcType=VARCHAR},
      </if>
      <if test="sendTime1 != null">
        send_time1 = #{sendTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="rsTime1 != null">
        rs_time1 = #{rsTime1,jdbcType=TIMESTAMP},
      </if>
      <if test="sendType != null">
        send_type = #{sendType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="field1 != null">
        field1 = #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        field2 = #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null">
        field3 = #{field3,jdbcType=VARCHAR},
      </if>
      <if test="deleteFalt != null">
        delete_falt = #{deleteFalt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where send_id = #{sendId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzlcPT.bean.XzPostionSend">
    update xz_postion_send
    set resume_id = #{resumeId,jdbcType=BIGINT},
      company_id = #{companyId,jdbcType=BIGINT},
      postion_id = #{postionId,jdbcType=BIGINT},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      send_state = #{sendState,jdbcType=INTEGER},
      send_visual = #{sendVisual,jdbcType=INTEGER},
      send_msg = #{sendMsg,jdbcType=VARCHAR},
      send_time1 = #{sendTime1,jdbcType=TIMESTAMP},
      rs_time1 = #{rsTime1,jdbcType=TIMESTAMP},
      send_type = #{sendType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      field1 = #{field1,jdbcType=VARCHAR},
      field2 = #{field2,jdbcType=VARCHAR},
      field3 = #{field3,jdbcType=VARCHAR},
      delete_falt = #{deleteFalt,jdbcType=TIMESTAMP}
    where send_id = #{sendId,jdbcType=BIGINT}
  </update>
  <select id="selSendCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(send_id) from xz_resume_send where delete_flag=0

      and resume_id=#{resumeId,jdbcType=BIGINT}

      and DATEDIFF(send_date,NOW()) =0
  </select>
</mapper>