<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcPT.dao.XzPostionSendMsgMapper">
    <resultMap id="BaseResultMap" type="com.xzlcPT.bean.XzPostionSendMsg">
        <id column="pmsg_id" jdbcType="BIGINT" property="pmsgId" />
        <result column="send_id" jdbcType="BIGINT" property="sendId" />
        <result column="pmsg_name" jdbcType="VARCHAR" property="pmsgName" />
        <result column="pmsg_value" jdbcType="VARCHAR" property="pmsgValue" />
        <result column="pmsg_type" jdbcType="INTEGER" property="pmsgType" />
        <result column="interview_time" jdbcType="TIMESTAMP" property="interviewTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
        <result column="delete_falt" jdbcType="INTEGER" property="deleteFalt" />
        <result column="filed1" jdbcType="VARCHAR" property="filed1" />
        <result column="filed2" jdbcType="VARCHAR" property="filed2" />
        <result column="filed3" jdbcType="VARCHAR" property="filed3" />
    </resultMap>
    <sql id="Base_Column_List">
        pmsg_id, send_id, pmsg_name, pmsg_value, pmsg_type, create_time, delete_time,
        delete_falt, filed1, filed2, filed3,interview_time
    </sql>
    <select id="selectBySendId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from xz_postion_send_msg
        where send_id = #{sendId,jdbcType=BIGINT}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from xz_postion_send_msg
        where pmsg_id = #{pmsgId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from xz_postion_send_msg
        where pmsg_id = #{pmsgId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.xzlcPT.bean.XzPostionSendMsg">
        insert into xz_postion_send_msg (pmsg_id, send_id, pmsg_name,
         pmsg_value, pmsg_type,
        create_time, delete_time, delete_falt,
        filed1, filed2, filed3,interview_time
        )
        values (#{pmsgId,jdbcType=BIGINT}, #{sendId,jdbcType=BIGINT}, #{pmsgName,jdbcType=VARCHAR},
        #{pmsgValue,jdbcType=VARCHAR}, #{pmsgType,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{deleteFalt,jdbcType=INTEGER},
        #{filed1,jdbcType=VARCHAR}, #{filed2,jdbcType=VARCHAR}, #{filed3,jdbcType=VARCHAR},#{interviewTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.xzlcPT.bean.XzPostionSendMsg">
        insert into xz_postion_send_msg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pmsgId != null">
                pmsg_id,
            </if>
            <if test="sendId != null">
                send_id,
            </if>
            <if test="pmsgName != null">
                pmsg_name,
            </if>
            <if test="pmsgValue != null">
                pmsg_value,
            </if>
            <if test="pmsgType != null">
                pmsg_type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="deleteTime != null">
                delete_time,
            </if>
            <if test="deleteFalt != null">
                delete_falt,
            </if>
            <if test="filed1 != null">
                filed1,
            </if>
            <if test="filed2 != null">
                filed2,
            </if>
            <if test="filed3 != null">
                filed3,
            </if>
            <if test="interviewTime != null">
                interview_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pmsgId != null">
                #{pmsgId,jdbcType=BIGINT},
            </if>
            <if test="sendId != null">
                #{sendId,jdbcType=BIGINT},
            </if>
            <if test="pmsgName != null">
                #{pmsgName,jdbcType=VARCHAR},
            </if>
            <if test="pmsgValue != null">
                #{pmsgValue,jdbcType=VARCHAR},
            </if>
            <if test="pmsgType != null">
                #{pmsgType,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFalt != null">
                #{deleteFalt,jdbcType=INTEGER},
            </if>
            <if test="filed1 != null">
                #{filed1,jdbcType=VARCHAR},
            </if>
            <if test="filed2 != null">
                #{filed2,jdbcType=VARCHAR},
            </if>
            <if test="filed3 != null">
                #{filed3,jdbcType=VARCHAR},
            </if>
            <if test="interviewTime != null">
                #{interviewTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xzlcPT.bean.XzPostionSendMsg">
        update xz_postion_send_msg
        <set>
            <if test="sendId != null">
                send_id = #{sendId,jdbcType=BIGINT},
            </if>
            <if test="pmsgName != null">
                pmsg_name = #{pmsgName,jdbcType=VARCHAR},
            </if>
            <if test="pmsgValue != null">
                pmsg_value = #{pmsgValue,jdbcType=VARCHAR},
            </if>
            <if test="pmsgType != null">
                pmsg_type = #{pmsgType,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFalt != null">
                delete_falt = #{deleteFalt,jdbcType=INTEGER},
            </if>
            <if test="filed1 != null">
                filed1 = #{filed1,jdbcType=VARCHAR},
            </if>
            <if test="filed2 != null">
                filed2 = #{filed2,jdbcType=VARCHAR},
            </if>
            <if test="filed3 != null">
                filed3 = #{filed3,jdbcType=VARCHAR},
            </if>
            <if test="interviewTime != null">
                interview_time=#{interviewTime,jdbcType=TIMESTAMP}
            </if>
        </set>
        where pmsg_id = #{pmsgId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xzlcPT.bean.XzPostionSendMsg">
        update xz_postion_send_msg
        set send_id = #{sendId,jdbcType=BIGINT},
        pmsg_name = #{pmsgName,jdbcType=VARCHAR},
        pmsg_value = #{pmsgValue,jdbcType=VARCHAR},
        pmsg_type = #{pmsgType,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
        delete_falt = #{deleteFalt,jdbcType=INTEGER},
        filed1 = #{filed1,jdbcType=VARCHAR},
        filed2 = #{filed2,jdbcType=VARCHAR},
        filed3 = #{filed3,jdbcType=VARCHAR},
        interview_time = #{interviewTime,jdbcType=TIMESTAMP}
        where pmsg_id = #{pmsgId,jdbcType=BIGINT}
    </update>
    <update id="updateType" parameterType="com.xzlcPT.bean.XzPostionSendMsg">
        update xz_postion_send_msg
        <set>
            <if test="pmsgName!=null and pmsgName!=''">
            pmsg_name = #{pmsgName,jdbcType=VARCHAR},
            </if>
            <if test="filed3 != null and filed3 !=''">
                filed3 = #{filed3,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE pmsg_id = #{pmsgId,jdbcType=BIGINT}
    </update>
</mapper>