<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzlcPT.dao.XzResumeMapper">
  <resultMap id="BaseResultMap" type="com.xzlcPT.bean.XzResume">
    <id column="resume_id" jdbcType="BIGINT" property="resumeId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="resume_name" jdbcType="VARCHAR" property="resumeName" />
    <result column="resume_sex" jdbcType="INTEGER" property="resumeSex" />
    <result column="resume_birth" jdbcType="DATE" property="resumeBirth" />
    <result column="resume_email" jdbcType="VARCHAR" property="resumeEmail" />
    <result column="resume_phone" jdbcType="VARCHAR" property="resumePhone" />
    <result column="resume_field" jdbcType="VARCHAR" property="resumeField" />
    <result column="resume_workspace" jdbcType="VARCHAR" property="resumeWorkspace" />
    <result column="resume_mm" jdbcType="INTEGER" property="resumeMm" />
    <result column="resume_ym" jdbcType="INTEGER" property="resumeYm" />
    <result column="resume_position" jdbcType="VARCHAR" property="resumePosition" />
    <result column="resume_workinglife" jdbcType="VARCHAR" property="resumeWorkinglife" />
    <result column="resume_nationality" jdbcType="VARCHAR" property="resumeNationality" />
    <result column="resume_state" jdbcType="VARCHAR" property="resumeState" />
    <result column="resume_marriage" jdbcType="VARCHAR" property="resumeMarriage" />
    <result column="resume_flash" jdbcType="TIMESTAMP" property="resumeFlash" />
    <result column="resume_intent_workspace" jdbcType="VARCHAR" property="resumeIntentWorkspace" />
    <result column="resume_intent_field" jdbcType="VARCHAR" property="resumeIntentField" />
    <result column="resume_intent_mm" jdbcType="INTEGER" property="resumeIntentMm" />
    <result column="resume_intent_ym" jdbcType="INTEGER" property="resumeIntentYm" />
    <result column="resume_intent_position" jdbcType="VARCHAR" property="resumeIntentPosition" />
    <result column="resume_completion" jdbcType="INTEGER" property="resumeCompletion" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_falt" jdbcType="INTEGER" property="deleteFalt" />
    <result column="filed1" jdbcType="VARCHAR" property="filed1" />
    <result column="filed2" jdbcType="VARCHAR" property="filed2" />
    <result column="filed3" jdbcType="VARCHAR" property="filed3" />
    <result column="collect_id" jdbcType="BIGINT" property="collectId"/>
    <result column="collect_time" jdbcType="TIMESTAMP" property="collectTime"/>
    <collection property="xzResumeEducations" ofType="com.xzlcPT.bean.XzResumeEducation">
    <result column="education_level" jdbcType="VARCHAR" property="educationLevel" />
    </collection>
  </resultMap>
  <resultMap id="ResumeInfo" type="com.xzlcPT.bean.XzResume">
    <id column="resume_id" jdbcType="BIGINT" property="resumeId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="resume_name" jdbcType="VARCHAR" property="resumeName" />
    <result column="resume_sex" jdbcType="INTEGER" property="resumeSex" />
    <result column="resume_birth" jdbcType="DATE" property="resumeBirth" />
    <result column="resume_email" jdbcType="VARCHAR" property="resumeEmail" />
    <result column="resume_phone" jdbcType="VARCHAR" property="resumePhone" />
    <result column="resume_field" jdbcType="VARCHAR" property="resumeField" />
    <result column="resume_workspace" jdbcType="VARCHAR" property="resumeWorkspace" />
    <result column="resume_mm" jdbcType="INTEGER" property="resumeMm" />
    <result column="resume_ym" jdbcType="INTEGER" property="resumeYm" />
    <result column="resume_position" jdbcType="VARCHAR" property="resumePosition" />
    <result column="resume_workinglife" jdbcType="VARCHAR" property="resumeWorkinglife" />
    <result column="resume_nationality" jdbcType="VARCHAR" property="resumeNationality" />
    <result column="resume_state" jdbcType="VARCHAR" property="resumeState" />
    <result column="resume_marriage" jdbcType="VARCHAR" property="resumeMarriage" />
    <result column="resume_flash" jdbcType="TIMESTAMP" property="resumeFlash" />
    <result column="resume_intent_workspace" jdbcType="VARCHAR" property="resumeIntentWorkspace" />
    <result column="resume_intent_field" jdbcType="VARCHAR" property="resumeIntentField" />
    <result column="resume_intent_mm" jdbcType="INTEGER" property="resumeIntentMm" />
    <result column="resume_intent_ym" jdbcType="INTEGER" property="resumeIntentYm" />
    <result column="resume_intent_position" jdbcType="VARCHAR" property="resumeIntentPosition" />
    <result column="resume_completion" jdbcType="INTEGER" property="resumeCompletion" />
    <result column="filed1" jdbcType="VARCHAR" property="filed1" />
    <result column="filed2" jdbcType="VARCHAR" property="filed2" />
    <collection property="fields" ofType="com.xzlcPT.bean.XzField">
      <id column="field_id" jdbcType="BIGINT" property="fieldId" />
      <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
      <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
    </collection>
  </resultMap>
  <resultMap id="ResumeInformation" type="com.xzlcPT.bean.XzResume">
    <id column="resume_id" jdbcType="BIGINT" property="resumeId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="resume_name" jdbcType="VARCHAR" property="resumeName" />
    <result column="resume_sex" jdbcType="INTEGER" property="resumeSex" />
    <result column="resume_birth" jdbcType="DATE" property="resumeBirth" />
    <result column="resume_email" jdbcType="VARCHAR" property="resumeEmail" />
    <result column="resume_phone" jdbcType="VARCHAR" property="resumePhone" />
    <result column="resume_field" jdbcType="VARCHAR" property="resumeField" />
    <result column="resume_workspace" jdbcType="VARCHAR" property="resumeWorkspace" />
    <result column="resume_mm" jdbcType="INTEGER" property="resumeMm" />
    <result column="resume_ym" jdbcType="INTEGER" property="resumeYm" />
    <result column="resume_position" jdbcType="VARCHAR" property="resumePosition" />
    <result column="resume_workinglife" jdbcType="VARCHAR" property="resumeWorkinglife" />
    <result column="resume_nationality" jdbcType="VARCHAR" property="resumeNationality" />
    <result column="resume_state" jdbcType="VARCHAR" property="resumeState" />
    <result column="resume_marriage" jdbcType="VARCHAR" property="resumeMarriage" />
    <result column="resume_flash" jdbcType="TIMESTAMP" property="resumeFlash" />
    <result column="resume_intent_workspace" jdbcType="VARCHAR" property="resumeIntentWorkspace" />
    <result column="resume_intent_field" jdbcType="VARCHAR" property="resumeIntentField" />
    <result column="resume_intent_mm" jdbcType="INTEGER" property="resumeIntentMm" />
    <result column="resume_intent_ym" jdbcType="INTEGER" property="resumeIntentYm" />
    <result column="resume_intent_position" jdbcType="VARCHAR" property="resumeIntentPosition" />
    <result column="resume_completion" jdbcType="INTEGER" property="resumeCompletion" />
    <result column="filed1" jdbcType="VARCHAR" property="filed1" />
    <result column="filed2" jdbcType="VARCHAR" property="filed2" />
    <result column="filed3" jdbcType="VARCHAR" property="filed3" />
    <collection property="fields" ofType="com.xzlcPT.bean.XzField">
      <id column="f1_id" jdbcType="BIGINT" property="fieldId" />
      <result column="f1_name" jdbcType="VARCHAR" property="fieldName" />
      <result column="f1_type" jdbcType="VARCHAR" property="fieldType" />
    </collection>
    <collection property="jobExps" ofType="com.xzlcPT.bean.XzJobExp">
      <id column="jobexp_id" jdbcType="BIGINT" property="jobexpId"></id>
      <result column="jobexp_company_name" jdbcType="VARCHAR" property="jobexpCompanyName" />
      <result column="jobexp_field" jdbcType="VARCHAR" property="jobexpField" />
      <result column="jobexp_postion" jdbcType="VARCHAR" property="jobexpPostion" />
      <result column="jobexp_workspace" jdbcType="VARCHAR" property="jobexpWorkspace" />
      <result column="jobexp_subordinate" jdbcType="INTEGER" property="jobexpSubordinate" />
      <result column="jobexp_begin_time" jdbcType="TIMESTAMP" property="jobexpBeginTime" />
      <result column="jobexp_end_time" jdbcType="TIMESTAMP" property="jobexpEndTime" />
      <result column="jobexp_duty" jdbcType="VARCHAR" property="jobexpDuty" />
      <result column="jobexp_dept" jdbcType="VARCHAR" property="jobexpDept" />
      <result column="jobexp_company_scale" jdbcType="VARCHAR" property="jobexpCompanyScale" />
      <result column="jobexp_company_type" jdbcType="VARCHAR" property="jobexpCompanyType" />
      <result column="jobexp_mm" jdbcType="INTEGER" property="jobexpMm" />
      <result column="jobexp_ym" jdbcType="INTEGER" property="jobexpYm" />
      <collection property="fields" ofType="com.xzlcPT.bean.XzField">
        <id column="f2_id" jdbcType="BIGINT" property="fieldId"></id>
        <result column="f2_name" jdbcType="VARCHAR" property="fieldName" />
      </collection>
    </collection>
    <collection property="xzResumeEducations" ofType="com.xzlcPT.bean.XzResumeEducation">
      <id column="education_id" jdbcType="BIGINT" property="educationId"></id>
      <result column="education_level" jdbcType="VARCHAR" property="educationLevel" />
      <result column="education_school" jdbcType="VARCHAR" property="educationSchool" />
      <result column="education_major" jdbcType="VARCHAR" property="educationMajor" />
      <result column="enrollment_date" jdbcType="DATE" property="enrollmentDate" />
      <result column="graduate_date" jdbcType="DATE" property="graduateDate" />
      <result column="education_entrance" jdbcType="INTEGER" property="educationEntrance" />
    </collection>
    <collection property="xzProjectExps" ofType="com.xzlcPT.bean.XzProjectExp">
      <id column="proexp_id" jdbcType="BIGINT" property="proexpId"></id>
      <result column="proexp_name" jdbcType="VARCHAR" property="proexpName" />
      <result column="proexp_duty" jdbcType="VARCHAR" property="proexpDuty" />
      <result column="proexp_begin_time" jdbcType="TIMESTAMP" property="proexpBeginTime" />
      <result column="proexp_end_time" jdbcType="TIMESTAMP" property="proexpEndTime" />
      <result column="proexp_describe" jdbcType="VARCHAR" property="proexpDescribe" />
      <result column="proexp_postion" jdbcType="VARCHAR" property="proexpPostion" />
    </collection>
      <collection property="xzResumeSkills" ofType="com.xzlcPT.bean.XzResumeSkill">
        <id column="skill_id" jdbcType="BIGINT" property="skillId"></id>
        <result column="skill_name" jdbcType="VARCHAR" property="skillName" />
        <result column="skill_type" jdbcType="INTEGER" property="skillType" />
        <result column="skill_value" jdbcType="VARCHAR" property="skillValue" />
      </collection>
  </resultMap>


  <sql id="Base_Column_List">
    resume_id, member_id, resume_name, resume_sex, resume_birth, resume_email, resume_phone,
    resume_field, resume_workspace, resume_mm, resume_ym, resume_position, resume_workinglife,
    resume_nationality, resume_state, resume_marriage, resume_flash, resume_intent_workspace,
    resume_intent_field, resume_intent_mm, resume_intent_ym, resume_intent_position,
    resume_completion, create_time, delete_time, delete_falt, filed1, filed2, filed3
  </sql>
  <sql id="ResumeInfoList">
    r.resume_id, r.member_id, r.resume_name, r.resume_sex, r.resume_birth, r.resume_email, r.resume_phone,
    r.resume_field, r.resume_workspace, r.resume_mm, r.resume_ym,
    r.resume_position, r.resume_workinglife, r.resume_nationality, r.resume_state, r.resume_marriage,
    r.resume_flash, r.resume_intent_workspace, r.resume_intent_field, r.resume_intent_mm, r.resume_intent_ym,
    r.resume_intent_position, r.resume_completion,r.filed1,r.filed2,
    f.field_id,f.field_name,f.field_type
  </sql>
  <sql id="ResumeInformationList">
    r.resume_id, r.member_id, r.resume_name, r.resume_sex, r.resume_birth, r.resume_email, r.resume_phone,
    r.resume_field, r.resume_workspace, r.resume_mm, r.resume_ym,
    r.resume_position, r.resume_workinglife, r.resume_nationality, r.resume_state, r.resume_marriage,
    r.resume_flash, r.resume_intent_workspace, r.resume_intent_field, r.resume_intent_mm, r.resume_intent_ym,
    r.resume_intent_position, r.resume_completion,r.filed1,r.filed2,
    f.field_name f1_name,f.field_id f1_id,f.field_type f1_type,
    p.proexp_id, p.proexp_name, p.proexp_duty, p.proexp_begin_time, p.proexp_end_time,
    p.proexp_describe, p.proexp_postion,
    e.education_id, e.education_level, e.education_school, e.education_major, e.enrollment_date,
    e.graduate_date, e.education_entrance,
    j.jobexp_id, j.jobexp_company_name, j.jobexp_field, j.jobexp_postion, j.jobexp_workspace,
    j.jobexp_subordinate, j.jobexp_begin_time, j.jobexp_end_time, j.jobexp_duty, j.jobexp_dept,
    j.jobexp_company_scale, j.jobexp_company_type, j.jobexp_mm, j.jobexp_ym,
    s.skill_id, s.skill_name, s.skill_type, s.skill_value,
    f2.field_name f2_name,f2.field_id f2_id
  </sql>
  <sql id="selResumeInf">
    r.resume_id,r.resume_name,r.resume_sex,r.resume_intent_field,r.resume_birth,r.resume_workspace,
    e.education_level,r.resume_workinglife,r.resume_intent_position,e.enrollment_date,
	e.graduate_date,e.education_school,e.education_major,j.jobexp_begin_time,j.jobexp_company_name,
	j.jobexp_end_time,j.jobexp_postion
  </sql>
  <sql id="selResume">
    e.education_level,r.resume_name,r.resume_sex,r.resume_birth,r.resume_workinglife,r.resume_position,
    r.resume_field,r.resume_intent_position,r.resume_id
  </sql>
  <select id="selectByMemberId" parameterType="java.lang.Long" resultMap="ResumeInfo">
    select
    <include refid="ResumeInfoList" />
    FROM xz_resume r LEFT JOIN xz_resume_domain d on r.resume_id = d.resume_id LEFT JOIN xz_field f on d.field_id = f.field_id
    where (f.field_type = 2 or f.field_type = 3 or f.field_type is null)
    and member_id = #{memberId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xz_resume
    where resume_id = #{resumeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from xz_resume
    where resume_id = #{resumeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xzlcPT.bean.XzResume">
    insert into xz_resume (resume_id, member_id, resume_name,
    resume_sex, resume_birth, resume_email,
    resume_phone, resume_field, resume_workspace,
    resume_mm, resume_ym, resume_position,
    resume_workinglife, resume_nationality, resume_state,
    resume_marriage, resume_flash, resume_intent_workspace,
    resume_intent_field, resume_intent_mm, resume_intent_ym,
    resume_intent_position, resume_completion,
    create_time, delete_time, delete_falt,
    filed1, filed2, filed3
    )
    values (#{resumeId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{resumeName,jdbcType=VARCHAR},
    #{resumeSex,jdbcType=INTEGER}, #{resumeBirth,jdbcType=DATE}, #{resumeEmail,jdbcType=VARCHAR},
    #{resumePhone,jdbcType=VARCHAR}, #{resumeField,jdbcType=VARCHAR}, #{resumeWorkspace,jdbcType=VARCHAR},
    #{resumeMm,jdbcType=INTEGER}, #{resumeYm,jdbcType=INTEGER}, #{resumePosition,jdbcType=VARCHAR},
    #{resumeWorkinglife,jdbcType=VARCHAR}, #{resumeNationality,jdbcType=VARCHAR}, #{resumeState,jdbcType=VARCHAR},
    #{resumeMarriage,jdbcType=VARCHAR}, #{resumeFlash,jdbcType=TIMESTAMP}, #{resumeIntentWorkspace,jdbcType=VARCHAR},
    #{resumeIntentField,jdbcType=VARCHAR}, #{resumeIntentMm,jdbcType=INTEGER}, #{resumeIntentYm,jdbcType=INTEGER},
    #{resumeIntentPosition,jdbcType=VARCHAR}, #{resumeCompletion,jdbcType=INTEGER},
    #{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, #{deleteFalt,jdbcType=INTEGER},
    #{filed1,jdbcType=VARCHAR}, #{filed2,jdbcType=VARCHAR}, #{filed3,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.xzlcPT.bean.XzResume">
    insert into xz_resume
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resumeId != null">
        resume_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="resumeName != null">
        resume_name,
      </if>
      <if test="resumeSex != null">
        resume_sex,
      </if>
      <if test="resumeBirth != null">
        resume_birth,
      </if>
      <if test="resumeEmail != null">
        resume_email,
      </if>
      <if test="resumePhone != null">
        resume_phone,
      </if>
      <if test="resumeField != null">
        resume_field,
      </if>
      <if test="resumeWorkspace != null">
        resume_workspace,
      </if>
      <if test="resumeMm != null">
        resume_mm,
      </if>
      <if test="resumeYm != null">
        resume_ym,
      </if>
      <if test="resumePosition != null">
        resume_position,
      </if>
      <if test="resumeWorkinglife != null">
        resume_workinglife,
      </if>
      <if test="resumeNationality != null">
        resume_nationality,
      </if>
      <if test="resumeState != null">
        resume_state,
      </if>
      <if test="resumeMarriage != null">
        resume_marriage,
      </if>
      <if test="resumeFlash != null">
        resume_flash,
      </if>
      <if test="resumeIntentWorkspace != null">
        resume_intent_workspace,
      </if>
      <if test="resumeIntentField != null">
        resume_intent_field,
      </if>
      <if test="resumeIntentMm != null">
        resume_intent_mm,
      </if>
      <if test="resumeIntentYm != null">
        resume_intent_ym,
      </if>
      <if test="resumeIntentPosition != null">
        resume_intent_position,
      </if>
      <if test="resumeCompletion != null">
        resume_completion,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deleteTime != null">
        delete_time,
      </if>
      <if test="deleteFalt != null">
        delete_falt,
      </if>
      <if test="filed1 != null">
        filed1,
      </if>
      <if test="filed2 != null">
        filed2,
      </if>
      <if test="filed3 != null">
        filed3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resumeId != null">
        #{resumeId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="resumeName != null">
        #{resumeName,jdbcType=VARCHAR},
      </if>
      <if test="resumeSex != null">
        #{resumeSex,jdbcType=INTEGER},
      </if>
      <if test="resumeBirth != null">
        #{resumeBirth,jdbcType=DATE},
      </if>
      <if test="resumeEmail != null">
        #{resumeEmail,jdbcType=VARCHAR},
      </if>
      <if test="resumePhone != null">
        #{resumePhone,jdbcType=VARCHAR},
      </if>
      <if test="resumeField != null">
        #{resumeField,jdbcType=VARCHAR},
      </if>
      <if test="resumeWorkspace != null">
        #{resumeWorkspace,jdbcType=VARCHAR},
      </if>
      <if test="resumeMm != null">
        #{resumeMm,jdbcType=INTEGER},
      </if>
      <if test="resumeYm != null">
        #{resumeYm,jdbcType=INTEGER},
      </if>
      <if test="resumePosition != null">
        #{resumePosition,jdbcType=VARCHAR},
      </if>
      <if test="resumeWorkinglife != null">
        #{resumeWorkinglife,jdbcType=VARCHAR},
      </if>
      <if test="resumeNationality != null">
        #{resumeNationality,jdbcType=VARCHAR},
      </if>
      <if test="resumeState != null">
        #{resumeState,jdbcType=VARCHAR},
      </if>
      <if test="resumeMarriage != null">
        #{resumeMarriage,jdbcType=VARCHAR},
      </if>
      <if test="resumeFlash != null">
        #{resumeFlash,jdbcType=TIMESTAMP},
      </if>
      <if test="resumeIntentWorkspace != null">
        #{resumeIntentWorkspace,jdbcType=VARCHAR},
      </if>
      <if test="resumeIntentField != null">
        #{resumeIntentField,jdbcType=VARCHAR},
      </if>
      <if test="resumeIntentMm != null">
        #{resumeIntentMm,jdbcType=INTEGER},
      </if>
      <if test="resumeIntentYm != null">
        #{resumeIntentYm,jdbcType=INTEGER},
      </if>
      <if test="resumeIntentPosition != null">
        #{resumeIntentPosition,jdbcType=VARCHAR},
      </if>
      <if test="resumeCompletion != null">
        #{resumeCompletion,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFalt != null">
        #{deleteFalt,jdbcType=INTEGER},
      </if>
      <if test="filed1 != null">
        #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null">
        #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null">
        #{filed3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xzlcPT.bean.XzResume">
    update xz_resume
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="resumeName != null">
        resume_name = #{resumeName,jdbcType=VARCHAR},
      </if>
      <if test="resumeSex != null">
        resume_sex = #{resumeSex,jdbcType=INTEGER},
      </if>
      <if test="resumeBirth != null">
        resume_birth = #{resumeBirth,jdbcType=DATE},
      </if>
      <if test="resumeEmail != null">
        resume_email = #{resumeEmail,jdbcType=VARCHAR},
      </if>
      <if test="resumePhone != null">
        resume_phone = #{resumePhone,jdbcType=VARCHAR},
      </if>
      <if test="resumeField != null">
        resume_field = #{resumeField,jdbcType=VARCHAR},
      </if>
      <if test="resumeWorkspace != null">
        resume_workspace = #{resumeWorkspace,jdbcType=VARCHAR},
      </if>
      <if test="resumeMm != null">
        resume_mm = #{resumeMm,jdbcType=INTEGER},
      </if>
      <if test="resumeYm != null">
        resume_ym = #{resumeYm,jdbcType=INTEGER},
      </if>
      <if test="resumePosition != null">
        resume_position = #{resumePosition,jdbcType=VARCHAR},
      </if>
      <if test="resumeWorkinglife != null">
        resume_workinglife = #{resumeWorkinglife,jdbcType=VARCHAR},
      </if>
      <if test="resumeNationality != null">
        resume_nationality = #{resumeNationality,jdbcType=VARCHAR},
      </if>
      <if test="resumeState != null">
        resume_state = #{resumeState,jdbcType=VARCHAR},
      </if>
      <if test="resumeMarriage != null">
        resume_marriage = #{resumeMarriage,jdbcType=VARCHAR},
      </if>
      <if test="resumeFlash != null">
        resume_flash = #{resumeFlash,jdbcType=TIMESTAMP},
      </if>
      <if test="resumeIntentWorkspace != null">
        resume_intent_workspace = #{resumeIntentWorkspace,jdbcType=VARCHAR},
      </if>
      <if test="resumeIntentField != null">
        resume_intent_field = #{resumeIntentField,jdbcType=VARCHAR},
      </if>
      <if test="resumeIntentMm != null">
        resume_intent_mm = #{resumeIntentMm,jdbcType=INTEGER},
      </if>
      <if test="resumeIntentYm != null">
        resume_intent_ym = #{resumeIntentYm,jdbcType=INTEGER},
      </if>
      <if test="resumeIntentPosition != null">
        resume_intent_position = #{resumeIntentPosition,jdbcType=VARCHAR},
      </if>
      <if test="resumeCompletion != null">
        resume_completion = #{resumeCompletion,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFalt != null">
        delete_falt = #{deleteFalt,jdbcType=INTEGER},
      </if>
      <if test="filed1 != null">
        filed1 = #{filed1,jdbcType=VARCHAR},
      </if>
      <if test="filed2 != null">
        filed2 = #{filed2,jdbcType=VARCHAR},
      </if>
      <if test="filed3 != null">
        filed3 = #{filed3,jdbcType=VARCHAR},
      </if>
    </set>
    where resume_id = #{resumeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xzlcPT.bean.XzResume">
    update xz_resume
    set member_id = #{memberId,jdbcType=BIGINT},
    resume_name = #{resumeName,jdbcType=VARCHAR},
    resume_sex = #{resumeSex,jdbcType=INTEGER},
    resume_birth = #{resumeBirth,jdbcType=DATE},
    resume_email = #{resumeEmail,jdbcType=VARCHAR},
    resume_phone = #{resumePhone,jdbcType=VARCHAR},
    resume_field = #{resumeField,jdbcType=VARCHAR},
    resume_workspace = #{resumeWorkspace,jdbcType=VARCHAR},
    resume_mm = #{resumeMm,jdbcType=INTEGER},
    resume_ym = #{resumeYm,jdbcType=INTEGER},
    resume_position = #{resumePosition,jdbcType=VARCHAR},
    resume_workinglife = #{resumeWorkinglife,jdbcType=VARCHAR},
    resume_nationality = #{resumeNationality,jdbcType=VARCHAR},
    resume_state = #{resumeState,jdbcType=VARCHAR},
    resume_marriage = #{resumeMarriage,jdbcType=VARCHAR},
    resume_flash = #{resumeFlash,jdbcType=TIMESTAMP},
    resume_intent_workspace = #{resumeIntentWorkspace,jdbcType=VARCHAR},
    resume_intent_field = #{resumeIntentField,jdbcType=VARCHAR},
    resume_intent_mm = #{resumeIntentMm,jdbcType=INTEGER},
    resume_intent_ym = #{resumeIntentYm,jdbcType=INTEGER},
    resume_intent_position = #{resumeIntentPosition,jdbcType=VARCHAR},
    resume_completion = #{resumeCompletion,jdbcType=INTEGER},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    delete_time = #{deleteTime,jdbcType=TIMESTAMP},
    delete_falt = #{deleteFalt,jdbcType=INTEGER},
    filed1 = #{filed1,jdbcType=VARCHAR},
    filed2 = #{filed2,jdbcType=VARCHAR},
    filed3 = #{filed3,jdbcType=VARCHAR}
    where resume_id = #{resumeId,jdbcType=BIGINT}
  </update>
  <!--疑问-->
  <select id="selResumeInformation" resultMap="ResumeInformation" parameterType="java.lang.Long">
    SELECT
    <include refid="ResumeInformationList"/>
    FROM xz_resume r LEFT JOIN xz_project_exp p ON  r.resume_id = p.resume_id
    LEFT JOIN xz_resume_education e ON r.resume_id = e.resume_id
    LEFT JOIN xz_job_exp j ON r.resume_id=j.resume_id
    LEFT JOIN xz_resume_skill s ON  r.resume_id = s.resume_id
    LEFT JOIN xz_resume_domain d on r.resume_id = d.resume_id
    LEFT JOIN xz_field f on d.field_id = f.field_id
    left join xz_job_exp_domain jd on j.jobexp_id = jd.job_exp_id
    left join xz_field f2 on jd.field_id = f2.field_id
    WHERE r.resume_id = #{resumeId,jdbcType=BIGINT}
  </select>
  <select id="selResumeByConditions" resultMap="ResumeInformation" parameterType="java.util.Map">
  SELECT
  <include refid="selResumeInf"/>
    FROM xz_resume r LEFT JOIN
  xz_resume_domain d ON r.resume_id = d.resume_id LEFT JOIN
  xz_field f ON d.field_id = f.field_id LEFT JOIN
  xz_resume_education e ON r.resume_id = e.resume_id LEFT JOIN
  xz_job_exp j ON  r.resume_id = j.resume_id
  WHERE 1=1
  <if test="resumePosition !=null and resumePosition !=''">
    AND r.resume_position LIKE CONCAT('%',#{resumePosition,jdbcType=VARCHAR},'%')
  </if>
  <if test="educationLevel !=null and educationLevel !=''">
    AND e.education_level = #{educationLevel,jdbcType=VARCHAR}
  </if>
  <if test="fieldName !=null and fieldName!=''">
    AND f.field_name = #{fieldName,jdbcType=VARCHAR}
  </if>
  <if test="resumeMmMin !=null and resumeMmMin !=''">
    AND r.resume_mm &gt;= #{resumeMmMin,jdbcType=INTEGER}
  </if>
    <if test="resumeMmMax !=null and jobexpMmMax !=''">
      AND r.resume_mm &lt;= #{resumeMmMax,jdbcType=INTEGER}
    </if>
    <if test="resumeIntentYm !=null and resumeIntentYm!=''">
      AND r.resume_intent_ym = #{resumeIntentYm,jdbcType=INTEGER}
    </if>
    <if test="resumeBirthMin !=null and resumeBirthMin != ''">
      AND 2017-YEAR(r.resume_birth) &gt;= #{resumeBirthMin,jdbcType=INTEGER}
    </if>
    <if test="resumeBirthMax !=null and resumeBirthMax !=''">
      AND 2017-YEAR(r.resume_birth) &lt;= #{resumeBirthMax,jdbcType=INTEGER}
    </if>
    <if test="resumeSex !=null and resumeSex !=''">
      AND r.resume_sex = #{resumeSex,jdbcType=INTEGER}
    </if>
    <if test="createTime !=null and createTime != ''">
      AND TO_DAYS(NOW()) - TO_DAYS(r.create_time) &lt;= #{createTime,jdbcType=INTEGER}
    </if>
    <if test="resumeState !=null and resumeState !=''">
      AND r.resume_state = #{resumeState,jdbcType=VARCHAR}
    </if>
    <if test="list.size>0">
      and r.resume_id in
      <foreach collection="list" item="resume_id" open="(" close=")" separator="," >
        #{resume_id,jdbcType=BIGINT}
      </foreach>
    </if>
   ORDER BY  e.graduate_date,j.jobexp_end_time DESC
  </select>
  <select id="selectRcount" resultMap="ResumeInformation" parameterType="java.util.Map">
    SELECT
    DISTINCT r.resume_id
    FROM xz_resume r LEFT JOIN
    xz_resume_domain d ON r.resume_id = d.resume_id LEFT JOIN
    xz_field f ON d.field_id = f.field_id LEFT JOIN
    xz_resume_education e ON r.resume_id = e.resume_id LEFT JOIN
    xz_job_exp j ON  r.resume_id = j.resume_id
    WHERE 1=1
    <if test="resumePosition !=null and resumePosition !=''">
      AND r.resume_position LIKE CONCAT('%',#{resumePosition,jdbcType=VARCHAR},'%')
    </if>
    <if test="educationLevel !=null and educationLevel !=''">
      AND e.education_level = #{educationLevel,jdbcType=VARCHAR}
    </if>
    <if test="fieldName !=null and fieldName!=''">
      AND f.field_name = #{fieldName,jdbcType=VARCHAR}
    </if>
    <if test="resumeMmMin !=null and resumeMmMin !=''">
      AND r.resume_mm &gt;= #{resumeMmMin,jdbcType=INTEGER}
    </if>
    <if test="resumeMmMax !=null and jobexpMmMax !=''">
      AND r.resume_mm &lt;= #{resumeMmMax,jdbcType=INTEGER}
    </if>
    <if test="resumeIntentYm !=null and resumeIntentYm!=''">
      AND r.resume_intent_ym = #{resumeIntentYm,jdbcType=INTEGER}
    </if>
    <if test="resumeBirthMin !=null and resumeBirthMin != ''">
      AND 2017-YEAR(r.resume_birth) &gt;= #{resumeBirthMin,jdbcType=INTEGER}
    </if>
    <if test="resumeBirthMax !=null and resumeBirthMax !=''">
      AND 2017-YEAR(r.resume_birth) &lt;= #{resumeBirthMax,jdbcType=INTEGER}
    </if>
    <if test="resumeSex !=null">
      AND r.resume_sex = #{resumeSex,jdbcType=INTEGER}
    </if>
    <if test="createTime !=null and createTime != ''">
      AND TO_DAYS(NOW()) - TO_DAYS(r.create_time) &lt;= #{createTime,jdbcType=INTEGER}
    </if>
    <if test="resumeState !=null and resumeState !=''">
      AND r.resume_state = #{resumeState,jdbcType=VARCHAR}
    </if>
  </select>
  <insert id="insertCollect" parameterType="java.util.Map">
    insert into xz_resume_collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resumeId != null">
        resume_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="collectTime != null">
        collect_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resumeId != null">
        #{resumeId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="collectTime != null">
        #{collectTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <delete id="deleteCollect" parameterType="java.lang.Long">
    delete from xz_resume_collect where collect_id=#{collectId,jdbcType=INTEGER}
  </delete>
  <select id="selectCollect" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select resume_id,collect_id,collect_time from xz_resume_collect where company_id=#{companyId,jdbcType=INTEGER}
  </select>
  <select id="selResume" parameterType="java.util.Map" resultMap="BaseResultMap">
  select
  <include refid="selResume"/>
    from xz_resume r LEFT JOIN xz_resume_education e ON r.resume_id = e.resume_id
    where r.resume_id in(
    select DISTINCT ps.resume_id
    from xz_postion_send ps
    where ps.company_id = #{companyId,jdbcType=BIGINT}
    <if test="postionId !=null and postionId !=''">
    and ps.postion_id = #{postionId,jdbcType=BIGINT}
    </if>
    )
    <if test="educationLevel !=null and educationLevel !=''">
    and e.education_level = #{educationLevel,jdbcType=VARCHAR}
    </if>
    <if test="resumeSex !=null and resumeSex !=''">
    and r.resume_sex=#{resumeSex,jdbcType=VARCHAR}
    </if>
    <if test="resumeName !=null and resumeName !=''">
    and r.resume_name like concat('%',#{resumeName,jdbcType=VARCHAR},'%')
    </if>
    <if test="resumeWorkspace !=null and resumeWorkspace !=''">
    and r.resume_workspace like concat('%',#{resumeWorkspace,jdbcType=VARCHAR},'%')
    </if>
    <if test="resumeBirthMin !=null and resumeBirthMin !=''">
    and 2017-YEAR(r.resume_birth)&gt;#{resumeBirthMin,jdbcType=BIGINT}
    </if>
    <if test="resumeBirthMax !=null and resumeBirthMax !=''">
    and 2017-YEAR(r.resume_birth)&lt;#{resumeBirthMax,jdbcType=BIGINT}
    </if>
    <if test="resumeWorkinglifeMin !=null and resumeWorkinglifeMin !=''">
    and 2017-r.resume_workinglife&gt;#{resumeWorkinglifeMin,jdbcType=BIGINT}
    </if>
    <if test="resumeWorkinglifeMax !=null and resumeWorkinglifeMax !=''">
    and 2017-r.resume_workinglife&lt;#{resumeWorkinglifeMax,jdbcType=BIGINT}
    </if>
    <if test="resumeField !=null and resumeField !=''">
    and resume_field like concat('%',#{resumeField,jdbcType=VARCHAR},'%')
    </if>
    <if test="resumePosition !=null and resumePosition !=''">
    and resume_position like concat('%',#{resumePosition,jdbcType=VARCHAR},'%')
    </if>
    GROUP BY r.resume_id
  </select>
</mapper>